<div class="card">
  <div class="card-header">
    List your property
  </div>

  <div class="card-body">
    <!-- In-built validators: https://angular.io/api/forms/Validators -->

    <!-- the commented code passes Form, whereas the uncommented one doesn't-->
    <!--<form (ngSubmit)='onSubmit(Form)' #Form='ngForm'> -->
    <form (ngSubmit)='onSubmit()' #Form='ngForm'>

      <div>
        <tabset #formTabs>
          <tab heading="Basic Info">

            <div class="form-group col-12">
              <label for="name">Name</label>
              <input type="text" class="form-control" #propName="ngModel"
                ngModel name="Name" required minlength="5">
              <span *ngIf="!propName.valid && propName.touched" class="error-block">
                <span *ngIf="propName.errors.required">Please provide name.</span>
                <span *ngIf="propName.errors.minlength">Name must be at least 5 char long.</span>

              </span>
            </div>

            <div class="form-group col-12">
              <label for="type">Type</label>
              <input type="text" class="form-control" ngModel name="Type">
            </div>

            <div class="form-group col-12">
              <label for="price">Price</label>
              <input type="text" class="form-control" ngModel name="Price">
            </div>

            <div class="form-group col-12">
              <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1)">Next</button>
            </div>

          </tab>
          <tab heading="Pricing and Area Info">Pricing Information</tab>
          <tab heading="Address">Address</tab>
          <tab heading="Other Details">Other Details</tab>
          <tab heading="Photos">Upload Photos</tab>
        </tabset>
      </div>




    </form>
  </div>
</div>
<!--
  <p>
  add-property works!
  <button (click)="onBack()" class="btn btn-primary">Back</button>
</p>
-->


