<div class="row"> <!-- allows you to multiple cards -->
  <div class="shadow-lg col-sm-4 p-3">  <!-- adds a large-size shadow; 3 columns per row as bootstrap has 12 columns; 3 pixel padding -->
    <div class="card"> <!-- gives it a thin border -->
      <img class="propImg" src="assets/images/house_default.png" alt="Default house">
      <div class="card-body p-2"> <!-- bootstrap class; adds padding as the elements are too close to the border -->
        <h1>{{Property.Name}}</h1>
        <h2>{{Property.Type}}</h2>
        <h3>{{Property.Price}}</h3>
      </div>
    </div>
  </div>
</div>
