<div class="card"> <!-- gives it a thin border -->
  <div class="card-img-wrapper">
    <img class="card-img-top" src="assets/images/house_default.png" alt="Default house"> <!-- image width gets adjusted to card size -->
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" ><i class="far fa-edit"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary" ><i class="far fa-address-book"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2"> <!-- bootstrap class; adds padding as the elements are too close to the border -->
    <h1>{{property.Name}}</h1>
    <h2>{{property.Type}}</h2>
    <h3>{{property.Price}}</h3>
  </div>
</div>
