<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="userName" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName">
            <span *ngIf="!userName.valid && (userName.touched || userSubmitted)" class="error-block" >
              Please provide name
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span *ngIf="!email.valid && (email.touched || userSubmitted)" class="error-block">
            <span *ngIf="email.hasError('required')">
              Please provid email
            </span>
            <span *ngIf="email.hasError('email')"> <!-- first way to check for errors -->
              Please provid a valid email
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="text" class="form-control" formControlName="password">
          <span *ngIf="!password.valid && (password.touched || userSubmitted)" class="error-block">
            <span *ngIf="password.errors['required']"> <!-- second way to check for errors -->
              Please provid password
            </span>
            <span *ngIf="password.errors.minlength"> <!-- third way to check for errors -->
              Password should be at least 8 characters long
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="text" class="form-control"  formControlName="confirmPassword">
          <span *ngIf="!confirmPassword.valid && (confirmPassword.touched || userSubmitted)" class="error-block">
            <span *ngIf="confirmPassword.errors['required']">
              Please provide confirm-password
            </span>
          </span>
          <!-- Cross validation is in its own span because we are checking only when confirmPassword is valid -->
          <span *ngIf="registrationForm.hasError('notmatched') && confirmPassword.valid" class="error-block"> <!-- form-level validation error -->
            Password and confirm-password should match.
          </span>
      </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile">
          <span *ngIf="!mobile.valid && (mobile.touched || userSubmitted)" class="error-block">
            <span *ngIf="mobile.errors['required']">
              Please provid mobile number
            </span>
            <span *ngIf="mobile.errors.maxlength">
              Max length for mobile number is 10
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
        <!-- Commented out because data is being persisted to localStorage and we can see it there
        Form Values: {{registrationForm.value | json}} <br/>
        Form Valid?: {{registrationForm.valid}}
        -->
      </form>
    </div>
  </div>
  </div>
</div>
